@page
@model Resturan.Presentation.Areas.Admin.Pages.Menu.IndexModel
@addTagHelper *,LazZiya.TagHelpers
@{
    int PageSize = 1;
    int PageNumber = 10;
    int.TryParse(HttpContext.Request.Query["PageSize"], out PageSize);
    int.TryParse(HttpContext.Request.Query["PageNumber"], out PageNumber);
}
@section cdn
{
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
}
@section icon
    {
    <link rel="stylesheet" href="~/css/bootstrap-icons-1.9.1/bootstrap-icons.min.css" />

}
    <div class="row pt-4">
        <div class="col-6 mb-4">
            <h2 class="text-primary">Menu Item</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-page="./Creat" class="btn btn-primary">
                <i class="bi bi-plus-square"></i> &nbsp;Create New Item Menu
            </a>
        </div>
    </div>

    <table class="table table-hover table-striped">
        <thead class="table-dark">
            <tr>
                <th scope="col" class="text-center">Name</th>
                <th scope="col" class="text-center">Creation Date</th>
                <th scope="col" class="text-center">Category</th>
                <th scope="col" class="text-center">Food Type</th>
                <th scope="col" class="text-center">Status</th>
            </tr>
        </thead>
        <tbody class="table-secondary" id="wrapper">
        @foreach (var item in Model.pagemodel.MenuItem)
        {
            <tr>
                <td class="text-center align-middle">@item.Name</td>
                <td class="text-center align-middle">@item.CreationDate</td>
                <td class="text-center align-middle">@item.CategoryName</td>
                <td class="text-center align-middle">@item.FoodTypeName</td>
                <td class="text-center align-middle">
                    <div class="w-50 btn-group justify-content-center">
                        <a asp-page="./Update" asp-route-Id="@item.Id" class="btn btn-outline-primary  rounded-start ">
                            <i class="bi  bi-pencil-square "></i>
                        </a>
                        <button id="@item.Id" class="btn btn-outline-danger ms-3 rounded-end " >
                                <i id="@item.Id" class="bi bi-trash-fill"></i>
                            </button>
                    </div>
                </td>
            </tr>
        }


    </tbody>
</table>
<div id = "page">
    <ul class="pagination">
        <paging total-records="Model.pagemodel.Count"
                page-no="PageNumber==0?1:PageNumber"
                page-size="PageSize==0?10:PageSize"
                show-prev-next="true"
                show-total-records="false"
                show-total-pages="false"
                show-gap="false"
                show-first-last="false"
                show-page-size-nav="false"
                query-string-key-page-no="PageNumber"
                query-string-key-page-size="PageSize">
        </paging>
    </ul>
</div>
@section Scripts
{
    <script src="~/js/MenuItem.js" ></script>
}
