@page
@model Resturan.Presentation.Pages.Order.OrderListModel
@{
    var classAttributeCancelled = String.Empty;
    var classAttributeCompleted = String.Empty;
    var classAttributeReady = String.Empty;
    var classAttributeInProcess = String.Empty;
    var classAttributeDeafult = String.Empty;
    var status = HttpContext.Request.Query["status"];
    if (String.IsNullOrWhiteSpace(status))
    {
        classAttributeDeafult = "active text-white";
    }
    else
    {
        if (status == "cancelled") { classAttributeCancelled = "active text-white"; }
        if (status == "InProcess") { classAttributeInProcess = "active text-white"; }
        else if (status == "completed") { classAttributeCompleted = "active text-white"; }
        else if (status == "ready") { classAttributeReady = "active text-white"; }
    }
}
<div class="container p-3">
    <div class="d-flex justify-content-between">
        <div class="p-2">
            <h2 class="text-primary">Order List</h2>
        </div>
        <div class="p-2" >
            <ul class="list-group list-group-horizontal-sm">
                <a style="text-decoration:none;"  asp-page="OrderList" asp-route-status="cancelled">
                <li class="list-group-item @classAttributeCancelled" >Cancelled</li>
                </a>
                <a style="text-decoration:none;" asp-page="OrderList" asp-route-status="completed">
                <li class="list-group-item @classAttributeCompleted" >Completed</li>
                </a>
                <a style="text-decoration:none;" asp-page="OrderList" asp-route-status="ready">
                <li class="list-group-item @classAttributeReady" >Ready For PickUp</li>
                </a>
                <a style="text-decoration:none;" asp-page="OrderList" asp-route-status="InProcess">
                    <li class="list-group-item @classAttributeInProcess" >InProcess</li>
                </a>
                <a style="text-decoration:none;" asp-page="OrderList" >
                <li class="list-group-item @classAttributeDeafult" >Submited</li>
                </a>
            </ul>
        </div>
    </div>

    <br /><br />
   <table class="table table-hover table-striped">
       <thead class="table-dark">
       <tr>
           <th scope="col" class="text-center">Order Number</th>
           <th scope="col" class="text-center">Name</th>
           <th scope="col" class="text-center">Email</th>
           <th scope="col" class="text-center">Order Total</th>
           <th scope="col" class="text-center">PickUp Time</th>
           <th scope="col" class="text-center">Order Detail</th>
       </tr>
       </thead>
       <tbody class="table-secondary">
       @foreach (var item in Model.OrderList)
       {
           <tr>
               <td class="text-center align-middle">@item.OrderNumber</td>
               <td class="text-center align-middle">@item.Name</td>
               <td class="text-center align-middle">@item.Email</td>
               <td class="text-center align-middle">@item.OrderTotal</td>
               <td class="text-center align-middle">@item.PickupTime</td>
               <td class="text-center align-middle">
                   <a class="btn btn-outline-success ms-3 rounded-3" asp-page="/Order/OrderDetial" asp-route-OrderNumber="@item.OrderNumber">
                            <i class="bi bi-ticket-detailed-fill"></i>
                   </a>
               </td>
           </tr>
       }
       </tbody>
   </table>

</div>
